[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aioresponses = "*"
# Hotfix for Pipenv's Bug @see https://github.com/pypa/pipenv/issues/4101
colorama = "*"
coverage = "*"
flake8 = "*"
invoke = "*"
isort = "*"
mypy = "*"
pipenv-setup = "*"
pylint = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
radon = "*"
twine = "*"
wheel = "*"
xenon = "*"

[packages]
# To process downloads in parallel
aiohttp = "*"
# To analyze htmls
beautifulsoup4 = "*"
